@model Partida
@{
    ViewData["Title"] = "Vamos a Jugar!";
}
<h1>@ViewData["Title"]</h1>


<div class="container-fluid">
    <div class="row">
        @foreach (var a in Model.Jugadores)
        {
            <div class="col-xl-6 col-lg-12" id="@a.Id">
                @for (var r = 0; r < a._filas; r++)
                {
                    <div class="row m-3">
                        @for (var c = 0; c < a._columnas; c++)
                        {
                            <div class="col">
                                @if (@a.Numeros[r, c] == 0)
                                { 
                                    <h3></h3>
                                }
                                else
                                {
                                    <h3>@a.Numeros[r,c]</h3>
                                }
                            </div>
                        }
                    </div>   
                }
            </div>
        }
    </div>   
    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <button class="nav-link text-dark" function="Girar()">Lanzar Bolilla</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-12">
            Bolilla: <p>@ViewData["BolillaCantada"]</p>
        </div>
        <div class="col-xl-6 col-lg-12">
            Cartón Ganador:
        </div>
    </div>
</div>